* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(./images/pexels-jill-burrow-6387866.jpg);
	background-position: center;
	background-size: cover;
	overflow: scroll;
}
header {
	width: 100%;
	display: flex;
	flex-direction: row;
}

h1 {
	font-family: 'Rock Salt', cursive;
	font-size: 72px;
	text-shadow: 2px 2px 2px rgba(90, 89, 89, 0.5);
	color: rgb(74, 74, 100);
}

h2 {
	font-family: 'Rock Salt', cursive;
	text-shadow: 2px 2px 2px rgba(90, 89, 89, 0.5);
	font-size: 48px;
	color: rgb(74, 74, 100);
}

h3 {
	font-family: 'Rock Salt', cursive;
	text-shadow: 2px 2px 2px rgba(90, 89, 89, 0.5);
	text-align: left;
}

li {
	text-align: center;
	text-shadow: 2px 2px 2px rgba(90, 89, 89, 0.5);
	font-size: 21px;
}

ul {
	list-style-type: none;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.headerBanner {
	display: flex;
	width: 100%;
	align-content: center;
	justify-content: center;
}

.logo {
	display: flex;
	align-content: flex-start;
	justify-content: left;
	width: 200px;
	height: 200px;
}

.headerText {
	display: flex;
	text-align: center;
	justify-content: center;
	width: 80%;
	height: 200px;
	padding: 10px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section {
	width: 100%;
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0px auto;
}

.sectionLogo {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border-radius: 15px;
	background-color: rgba(74, 74, 100, 50%);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
	margin: 5rem;
}

.card {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 200px;
}

.cardSamples {
	display: grid;
	grid-template-columns: 60px, 60px, 60px;
	grid-template-rows: 50px, 50px;
	font-family: 'Prompt', sans-serif;
	color: rgb(37, 33, 33);
	align-items: center;
}

.RedcolorSample,
.PurplecolorSample,
.BluecolorSample,
.TealcolorSample,
.GreencolorSample,
.OrangecolorSample {
	display: inline-block;
	padding: 2rem;
	border-radius: 15px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
	margin: 4px 4px;
}

.RedcolorSample {
	background-color: rgba(189, 0, 0, 0.6);
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.PurplecolorSample {
	background-color: rgba(98, 0, 163, 0.6);
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.BluecolorSample {
	background-color: rgba(0, 0, 201, 0.6);
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.TealcolorSample {
	background-color: rgba(0, 213, 224, 0.6);
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.GreencolorSample {
	background-color: rgba(73, 163, 0, 0.6);
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.OrangecolorSample {
	background-color: rgba(255, 150, 13, 0.6);
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.RockSaltfontSample,
.PoppinsfontSample,
.PromptfontSample {
	display: inline-block;
	background-color: rgba(104, 104, 104, 0.377);
	padding: 2rem;
	border-radius: 15px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
	margin: 4px 4px;
	min-height: 225px;
	backdrop-filter: blur(10px);
}

.RockSaltfontSample {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	font-family: 'Rock Salt', cursive;
}
.PoppinsfontSample {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-family: 'Poppins', sans-serif;
}

.PromptfontSample {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	font-family: 'Prompt', sans-serif;
}
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
	text-align: center;
	justify-content: center;
}
